<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="MyApp1" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="bf00b3c7-3475-4743-ac72-68d9063eda45">
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed." Schedule="afterInstallInitialize" />
    <Media Id="1" Cabinet="MyApp.cab" EmbedCab="yes" />

    
    
    <!-- In WIX v3 <UIRef Id="MyUICommon" />; Wiki: https://github.com/wixtoolset/issues/issues/6998 -->
    <!--
    <UIRef Id="WixUI_Common" />    
    <UIRef  Id="MyUICommon" />
    -->
    
    <!-- WIX v4 : Issue: https://github.com/wixtoolset/issues/issues/7925-->
    <!-- That MSI would build successfully comment two lines below -->
    <UIRef Id="WixUI_Common" />
    <ui:WixUI Id="MyUICommon" />

    <UI />
      
    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
